@forward './heading/src/heading.mixins.scss';
@forward './text/src/text.mixins.scss';
@forward './shadow/src/shadow.mixins.scss';
@forward './icon/src/icon.mixins.scss';
@forward './card/src/card.mixins.scss';
@forward './themes/src/themes.mixins.scss';

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
