@use '../../mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

:host {
  --p: var(--toggle-pad, var(--size-4));
  display: inline-block;
}

div[slot='content'] {
  --s: calc(var(--toggle-size, var(--size-4)) + var(--p));

  display: grid;
  grid-template-columns: repeat(var(--n), minmax(var(--s), 1fr));
  grid-auto-rows: minmax(var(--s), 100%);
  gap: var(--size-1);
  border: var(--border-size-1) solid var(--surface2);
  border-radius: var(--radius-round);
  background-color: var(--surface2);
}

::slotted(li) {
  --toggle-color: var(--text2);

  list-style-type: none;
  position: relative;
  display: grid;
  place-content: center;
  padding: var(--p);
  color: var(--toggle-color);
}

::slotted(li.checked) {
  --toggle-color: var(--surface1);
}

::slotted(li.checked)::before {
  content: '';
  margin: var(--size-1);
  display: block;
  position: absolute;
  inset: 0;
  border: var(--border-size-1) solid var(--surface4);
  border-radius: var(--radius-round);
  background-color: var(--brand);
  z-index: -1;
}
